//- module
.jumbotron.text-light.position-relative.d-flex.align-items-center
  .container
    h1.mb-2.text-center.font-weight-bolder
      | この法律が審議を通過したら
    h1.mb-4.text-center.font-weight-bolder
      | 香港は終わりです
    .mb-3.text-center
      a.btn.btn-info.py-1.mr-1(href="/") 中文
      a.btn.btn-info.py-1.mr-1(href="/index-en.html") English
      a.btn.btn-info.py-1.mr-1(href="/index-ko.html") 한국어
    .text-center
      .fb-like(
        data-href="https://www.facebook.com/g0vhk.io",
        data-width="",
        data-layout="button_count",
        data-action="like"
        data-size="large",
        data-show-faces="true",
        data-share="false"
      )
    hr.bg-white
    p.text-justify
      | 一度この「犯罪人引渡し条約」が審議を通過したら、香港人、そして#[b#[u香港に滞在している誰もが]]中国の法律によって取り締まられてしまいます。あなたが中国ではなく香港にいたとしても、です。あなたは人権を侵害され、不当に中国へ送られてしまうかもしれません。
    .position-absolute.d-flex.flex-column.align-items-center.btn-scroll-down-wrapper
      .btn-scroll-down
        .chevron
        .chevron
        .chevron
      .text
        | 下へスクロールしてね

