//- module
.jumbotron.text-light.position-relative.d-flex.align-items-center
  .row
    .col
      .container
        h1.mb-2.text-center.font-weight-bolder
          | Once It Passes
        h1.mb-4.text-center.font-weight-bolder
          | Hong Kong Dies
        .mb-3.text-center
          a.btn.btn-info.py-1.mr-1(href="/") 中文
          a.btn.btn-info.py-1.mr-1(href="/index-jp.html") 日本語
          a.btn.btn-info.py-1.mr-1(href="/index-ko.html") 한국어
        .text-center
          .fb-like(
            data-href="https://www.facebook.com/g0vhk.io",
            data-width="",
            data-layout="button_count",
            data-action="like"
            data-size="large",
            data-show-faces="true",
            data-share="false"
          )
     .col
      .text-center
        a(href="https://freedomhkg.net/", target="_blank") #[img(src="/img/freedomhkg.png", style="max-width:100%")]
        br
        a(href="https://freedomhkg.net/", target="_blank") #[h4 >>> FREE HONG KONG: Stand With Us at G20]
    hr.bg-white
    p.text-justify
      | Once the "Fugitive Offenders Ordinance Amendment" is passed, Hongkongers and #[b#[uANYONE who stays in Hong Kong]] would be accused of the laws of China, even they are physically in Hong Kong. They would be persecuted and sent to China for unjust hearings.
    .position-absolute.d-flex.flex-column.align-items-center.btn-scroll-down-wrapper
      .btn-scroll-down
        .chevron
        .chevron
        .chevron
      .text
        | Scroll Down


